---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Table from "../components/Table.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Navbar />

    <div class="col-span-3">
      <Table />
    </div>
  </main>
</Layout>
